div[data-amplify-theme="dark"] {
  --amplify-components-authenticator-container-width-max: 360px;
  --amplify-components-authenticator-router-background-color: #121212;
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-text-color: #ffffff;
  --amplify-components-button-color: #ffffff;
  --amplify-components-divider-label-background-color: #121212;
  --amplify-components-field-label-color: #b8b8b8;
  --amplify-components-authenticator-state-inactive-background-color: #121212;
  --amplify-components-tabs-item-border-color: #2f2f2f;
  --amplify-components-tabs-item-color: #b8b8b8;
  --amplify-components-authenticator-form-padding: 32px 0;
  --amplify-colors-brand-primary-80: #90caf9;
  --amplify-font-weights-bold: 500;
}

button.amplify-button.amplify-field-group__control.federated-sign-in-button {
  margin-bottom: 16px;
}

div.amplify-flex.federated-sign-in-container {
  margin-bottom: 8px;
}
